<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sogga Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .content {
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row nowrap">
            <div class="bg-dark col-auto col-md-2 min-vh-100">
                <div class="bg-dark p-2">
                    <a href="" class="d-flex text-decoration-none align-items-center mt-1 text-white fs-4">SoggaAdmin</a>
                    <ul class="nav nav-pills flex-column mt-4">
                        <li class="nav-item">
                            <a href="/adm-inicio" class="nav-link text-white">
                                <i class="bi bi-bar-chart-fill"></i><span class="fs-5 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/productos-adm" class="nav-link text-white">
                                <i class="bi bi-bag-fill"></i><span class="fs-5 d-none d-sm-inline">Productos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/usuarios-adm" class="nav-link text-white">
                                <i class="bi bi-person-fill"></i><span class="fs-5 d-none d-sm-inline">Usuarios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/salir-adm" class="nav-link text-white">
                                <i class="bi bi-x-square-fill"></i><span class="fs-5 d-none d-sm-inline">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <!--  LOS FORMULARIOS LES TENGO QUE AGREGAR UN ACTION A UNA URL CON MIDLEWARE INCLUIDO  -->
                <div class="content container-fluid">
                    <div class="bg-dark text-white p-3 text-center">Gestion de inicio de Pagina</div>
                    <table>
                        <thead>
                            <tr>
                                <th>titulo</th>
                                <th>Directorio</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <form action="/form-banner" method="post" enctype="multipart/form-data">
                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" aria-label="First name" id="titulo" name="tituloimg">
                        <label for="formFile" class="form-label">Imagen del Banner</label>
                        <input class="form-control" type="file" id="formFile" name="imgfile">
                        <button type="submit" class="btn btn-warning">Aplicar</button>
                    </form>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Fecha Termino</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <form action="/form-eventos" method="post">
                        <label for="titulo" class="form-label">Nombre</label>
                        <input type="text" class="form-control" aria-label="First name" id="titulo" name="nombre">
                        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
                        <label for="fechainput" class="form-label">Fecha de Termino</label>
                        <input type="date" name="fecha" id="fechainput"  class="form-control">
                        <button type="submit" class="btn btn-warning">Aplicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
